@media (max-width: 650px) {
  #toggler {
    width: 150px;
  }
  #video-container {
    position: relative;
    height: 70vh;
  }
  #video-trailer {
    height: 100%;
  }
  #trailer-text {
    position: absolute;
    top: 100px;
    padding-left: 30px;
    width: 100%;
  }
  #iframe-trailer {
    height: 315px;
  }
  #modal-btn {
    width: 150px;
  }
  #div-trailer-movies-two{
    display: none;
  }
}
@media (min-width: 650px) {
  #div-trailer-movies-one{
    display: none;
  }
}